---
import Converter from "../components/Converter.astro";
import Faq from "../components/Faq.astro";
import HowTo from "../components/HowTo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Download Nonograms Katana puzzles as images | ujc to png"
  description="Export, resize, and download your pictures from the game Nonograms Katana."
>
  <div>
    <HowTo />
    <Converter />
    <Faq />
  </div>
</Layout>
