---
import Converter from "../components/Converter";
import Faq from "../components/Faq.astro";
import Usage from "../components/Usage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Download Nonograms Katana puzzles as images | ujc to png"
  description="Export, resize, and download your pictures from the game Nonograms Katana."
>
  <div>
    <Usage />
    <Converter client:only="react" />
    <Faq />
  </div>
</Layout>
