<div>
  <h2>Dropzone</h2>

  {/* Dropzone button. */}
  <button
    id="dropzone"
    class="not-prose flex h-48 w-full items-center justify-center rounded-xl border-2 border-dashed border-gray-600 bg-gray-100 p-8 text-center dark:border-gray-400 dark:bg-gray-900"
    @click="document.getElementById('dropzone-input').click()"
    @dragover.prevent
    @drop.prevent="handleUpload($event)"
  >
    <span class="text-balance" x-show="!isBusy"
      >Drag and drop your nonograms here, or click to select <code
        class="font-mono">.ujc</code
      > or <code class="font-mono">.png</code> files.</span
    >
    <span class="text-balance motion-safe:animate-pulse" x-show="isBusy"
      >Processing nonograms, please wait...</span
    >
  </button>

  {/* Hidden file input. */}
  <label for="dropzone-input" class="sr-only"
    >Click to open the file dialog.</label
  >
  <input
    id="dropzone-input"
    name="dropzone-input"
    type="file"
    multiple
    accept="application/octet-stream,.ujc,image/png,.png,application/zip,.zip"
    class="sr-only"
    @change="handleUpload($event)"
  />
</div>
