<button
  type="button"
  class="btn btn-lg btn-primary btn-block my-8 rounded-xl"
  @click="downloadImages()"
  :disabled="isBusy || images.length === 0"
>
  <span class="text-balance" x-show="isBusy || images.length === 0"
    >Download images</span
  >
  <span
    class="text-balance"
    x-show="!isBusy && images.length > 0"
    x-text="`Download ${images.length} ${images.length > 1 ? 'images' : 'image'}`"
  ></span>
</button>
