<div>
  <p>
    Website created by <a href="https://github.com/velut">Edoardo Scibona</a>.
  </p>

  <ul>
    <li>
      <a href="/">Homepage</a>
    </li>
    <li>
      <a href="/privacy">Privacy Policy</a>
    </li>
    <li>
      <a href="https://github.com/velut/ujc-to-png">GitHub Project</a>
    </li>
  </ul>
</div>
