---
const nkUrl = "https://play.google.com/store/apps/details?id=com.ucdevs.jcross";
---

<div>
  <h1 class="text-center text-balance">
    <a class="no-underline hover:underline" href="/">🧩 ujc to png</a>
  </h1>
  <p class="text-balance text-center">
    Download your puzzle designs from <a href={nkUrl}>Nonograms Katana</a> as simple
    images.
  </p>
</div>
