<div>
  <h2>How to use</h2>

  <p>
    First, export your data from the game either as a <code>.zip</code> archive or
    as single <code>.ujc</code> files, then drag and drop the exported files on this
    page.
  </p>

  <div class="join join-vertical bg-base-100 w-full">
    <div class="collapse-plus join-item collapse rounded-t-xl border">
      <input type="radio" name="step1" checked="checked" />
      <div class="collapse-title font-semibold">
        Export all your nonograms from the game (Recommended)
      </div>
      <div class="collapse-content">
        <ol>
          <li>Open the Nonograms Katana Android app</li>
          <li>
            Select the <code>Settings</code> icon in the top right corner (see <a
              href="https://nonograms-katana.fandom.com/wiki/Settings">wiki</a
            >)
          </li>
          <li>Open the <code>Other</code> menu at the bottom</li>
          <li>Select <code>Save progress to file (zip)</code></li>
          <li>Save the <code>NonogramsKatana.zip</code> archive</li>
        </ol>
      </div>
    </div>
    <div class="collapse-plus join-item collapse border">
      <input type="radio" name="step1" />
      <div class="collapse-title font-semibold">
        Export a single nonogram from the game (Alternative)
      </div>
      <div class="collapse-content">
        <ol>
          <li>Open the Nonograms Katana Android app</li>
          <li>Go to the <code>My Nonograms</code> screen</li>
          <li>Select the three vertical dots next to a nonogram</li>
          <li>
            Select <code>Share</code> (see <a
              href="https://nonograms-katana.fandom.com/wiki/My_Nonograms#Publishing"
              >wiki</a
            >)
          </li>
          <li>Save the <code>.ujc</code> file containing the nonogram</li>
        </ol>
      </div>
    </div>
    <div class="collapse-plus join-item collapse rounded-b-xl border">
      <input type="radio" name="step1" />
      <div class="collapse-title font-semibold">
        Export nonograms from your device (Alternative)
      </div>
      <div class="collapse-content">
        <ol>
          <li>Open your device's file manager</li>
          <li>Select your device's internal storage</li>
          <li>
            Go to the <code
              >Android<wbr />/data<wbr />/com<wbr />.ucdevs<wbr />.jcross<wbr
              />/files<wbr />/puzzles</code
            > folder
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
