<div>
  <h2>How to use</h2>
  <p>
    On this page, nonogram authors can easily convert their own designs from the <code
      >.ujc</code
    > files exported from the game to normal <code>.png</code> images as follows.
  </p>

  <ul>
    <li>
      <p>
        <strong>Step 1: Export your nonograms from the game</strong>
      </p>
      <p>
        To start, open the Nonograms Katana Android app, then tap on the <code
          >Settings</code
        > icon in the top right corner (see <a
          href="https://nonograms-katana.fandom.com/wiki/Settings">the wiki</a
        > for help). Once in the settings, open the menu named <code>Other</code
        > and select <code>Save progress to file (zip)</code> to export an archive
        of your data.
      </p>
      <p>
        As another option, you can use the <code>Share</code> feature available in
        the <code>My Nonograms</code> screen (see <a
          href="https://nonograms-katana.fandom.com/wiki/My_Nonograms#Publishing"
          >the wiki</a
        > for help) to save a copy of a nonogram.
      </p>
      <p>
        Finally, the <code>.ujc</code> files can also be found in your device's internal
        storage in the <code>Android/data/com.ucdevs.jcross</code> folder.
      </p>
    </li>
    <li>
      <p>
        <strong>Step 2: Extract the exported archive</strong>
      </p>
      <p>
        Using your preferred file manager, extract the <code
          >NonogramsKatana.zip</code
        > archive so that the folder named <code>MyNonograms</code> becomes accessible.
        This folder contains all your nonograms saved as <code>.ujc</code> files.
      </p>
    </li>
    <li>
      <p>
        <strong>Step 3: Drag and drop your files below</strong>
      </p>
      <p>
        Now, you can drag and drop the <code>.ujc</code> files in the area below;
        alternatively, you can tap on the same area to open a file picker dialog
        where you can select the files. After a short while, the converted images
        will appear in the gallery below ready to download.
      </p>
    </li>
  </ul>
</div>
