@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .pixel-art{
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    }
}
